<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.wagnermeters.split" android:versionCode="1" android:versionName="1.0">

    <uses-sdk android:minSdkVersion="7" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">

        <provider android:name=".cproviders.SplitProvider" android:authorities="com.wagnermeters.split.splitprovider" />

        <activity android:name=".activities.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.TabsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />

        <activity android:name=".activities.EmcCalculatorActivity" />

        <activity android:name=".activities.RCHostActivity" />

        <activity android:name=".activities.ResourceCenterActivity" />

        <activity android:name=".activities.ResourceActivity" />
        
        <activity android:name=".activities.WMHostActivity" />

        <activity android:name=".activities.WagnerMetersActivity" />
        
        <activity android:name=".activities.HelpHostActivity" />

        <activity android:name=".activities.HelpActivity" />
        
        <service android:name=".services.FetchService" />

    </application>
    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>